<ul class="nav navbar-nav">
  <li>
    <a href="/aapl/one">
      First question
    </a>
  </li>

  <li>
    <a href="/aapl/one">
      Second question
    </a>
  </li>

  <li>
    <a href="/aapl/one">
      Third question
    </a>
  </li>

  <li>
    <a href="/aapl/one">
      Fourth question
    </a>
  </li>

  <li>
    <a href="/aapl/one">
      Fifth question
    </a>
  </li>
</ul>
