<div class="panel panel-default">
  <div class="panel-heading">
    Fun with external data
  </div>

  <div class="panel-body">
    <p>
      Instructions
    </p>
  </div>

  <div class="list-group">
    <a class="list-group-item" href="/aapl/one">
      First question
    </a>

    <a class="list-group-item" href="/aapl/one">
      Second question
    </a>

    <a class="list-group-item" href="/aapl/one">
      Third question
    </a>

    <a class="list-group-item" href="/aapl/one">
      Fourth question
    </a>

    <a class="list-group-item" href="/aapl/one">
      Fifth question
    </a>
  </div>
</div>
